extends layout.pug


block content
  div.flex.row
    each cards, i in card
      div.item-wrapper.col-md-6.col-lg-6
        div.item-container.border-content.border-radius-6.bgcolor-white(onclick=`window.location='./${card[i].search.toURI().normalize('NFD').replace(/[\u0300-\u036f]/g, "")}'`)
            .title-item
              h2.title-question.color-purple
                | #{card[i].title}
                span.total-questions.color-gray #{card[i].questions.length} întrebări
            p
              strong Autor:
              |  #{card[i].author}
            p
              strong Anul:
              |  #{card[i].year}
            p
              strong Genul:
              |  #{card[i].genre.capitalize()}
    else
      p Nu avem adăugat conţinut       
              
              
              
              
